<!DOCTYPE html>
<html lang="en" ng-app="CRTapp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CRT - Car Reparation Tracker</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../Plugin/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Plugin/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../Plugin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Car Reparation Tracker</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">User List</a>
                    </li>
                    <li>
                        <a href="addUser.html">Add User</a>
                    </li>
                    <li>
                        <a href="addCar.html">Add Car</a>
                    </li>
                    <li>
                        <a href="../Default/index.html">Log Out</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" ng-controller="UserListCtrl">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3>List of Users</h3>
                            </div>
                            <div class="col-lg-offset-3 col-lg-3">
                                <label for="search">Search :</label>
                                <input type="text" name="search" id="search" value="" ng-model="$ctrl.query" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                                <tr>
                                    <th><em class="fa fa-cog"></em></th>
                                    <th class="hidden-xs">ID <button class=" pull-right sortorder" ng-click="sortBy('userId')"  ng-class="{reverse: reverse}"></button></th>
                                    <th>First Name <button class="pull-right sortorder" ng-click="sortBy('Prenom')"  ng-class="{reverse: reverse}"></button></th>
                                    <th>Last Name <button class="pull-right sortorder" ng-click="sortBy('Nom')"  ng-class="{reverse: reverse}"></button></th>
                                    <th>Username <button class="pull-right sortorder" ng-click="sortBy('Username')"  ng-class="{reverse: reverse}"></button></th>
                                    <th>Role <button class="pull-right sortorder" ng-click="sortBy('Role')"  ng-class="{reverse: reverse}"></button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users |filter: $ctrl.query |orderBy:propertyName:reverse " class="UserManagement">
                                    <td align="center">
                                        <a class="btn btn-default" ng-click="onUpdate()" ng-show="onEdit"><em class="fa fa-pencil"></em></a>
                                        <a class="btn btn-default" ng-click="EditUser(user)" ng-show="show"><em class="fa fa-check"></em></a>
                                        <a class="btn btn-danger" ng-click="DeleteUser(user.userId)"><em class="fa fa-trash"></em></a>
                                    </td>
                                    <td class="hidden-xs"><input type="text" value="{{user.userId}}" disabled ng-model="user.userId"/></td>
                                    <td><input type="text" value="{{user.Prenom}}" ng-disabled="onEdit" ng-model="user.Prenom" /></td>
                                    <td><input type="text" value="{{user.Nom}}" ng-disabled="onEdit"  ng-model="user.Nom"/></td>
                                    <td><input type="text" value="{{user.Username}}" ng-disabled="onEdit"  ng-model="user.Username"/></td>
                                    <td><input type="text" value="{{user.Role}}" ng-disabled="onEdit"  ng-model="user.Role"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="row">
                <div class="col-lg-10"></div>
                <div class="col-lg-2">
                    <p>Copyright &copy; CRT-website 2017 &trade;</p>
                </div>
            </div>
        </footer>
    </div>

    <script src="../../Plugin/Scripts/angular.min.js"></script>
    <script src="../../Plugin/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../Plugin/js/bootstrap.min.js"></script>
    <script src="../../Scripts/app.js"></script>
</body>
</html>
